<script src="~/Scripts/LandingPage/About.js"></script>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-5 animate-on-scroll" data-animation="slide-down">
            <img alt="about-img" class="about-img effect mb-30" id="imgAbout">
        </div>
        <div class="col-xs-12 col-md-7">
            <div class="about-content main-color">
                <!-- About tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="main-color-bg active">
                        <a href="#tabPanelAboutDetails" class="effect" aria-controls="about-tab" role="tab" data-toggle="tab" id="tabAbout"></a>

                    </li>
                    <li role="presentation" class=" main-color-bg">
                        <a href="#skills-tab" class="effect skills-init" aria-controls="skills-tab" role="tab" data-toggle="tab">My Skills</a>
                    </li>
                    <li role="presentation" class=" main-color-bg">
                        <a href="#info-tab" class="effect" aria-controls="info-tab" role="tab" data-toggle="tab">My Info</a>
                    </li>
                </ul>
                <!-- About Tab panes -->
                <div class="tab-content">
                    <!-- About me tab -->
                    <div role="tabpanel" class="tab-pane fade in active" id="tabPanelAboutDetails">
                        @*<p>I am a professional web designer from Manchester, England. I create beautiful, usable, professional websites using best practice accessibility and the latest W3C web standards guidelines, resulting in semantic and seo friendly HTML and CSS. All my websites are lovingly hand coded. I enjoy turning complex problems into simple, beautiful and intuitive interface designs. When I'm not coding or pushing pixels, you'll find me shooting creative photos or in the gym. Currently i'm teaching myself Java for Android app development.</p>
                            <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In 2015, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore eu.</p>*@
                    </div>
                    <!-- Skills Tab -->
                    <div role="tabpanel" class="tab-pane fade" id="skills-tab">
                        <div class="skills-bars text-center" id="aaa">

                           
                        </div>
                    </div>
                    <!-- My Info Tab -->
                    <div role="tabpanel" class="tab-pane fade" id="info-tab">
                        @*<div id="divPersonalDetails" class="personal-info text-center">*@
                        <div id="divPersonalDetails" class="text-center">
                            @*<p><span>name: </span>Jason doe</p>
                <p><span>age: </span>24 years</p>
                <p><span>job: </span>web designer</p>
                <p><span>phone: </span>+ 999 999 999</p>
                <p><span>Address: </span>Los Angeles, USA</p>
                <p><span>email: </span>yourmail@domain.com</p>
                <p><span>Freelance </span>Available</p>*@


                        </div>
                        <div  class="personal-info text-center">
                            <a id="linkCv" class="fl-btn main-color-bg effect text-center"><i class="fa fa-download"></i> download Resume</a>
                        </div>
                    </div>
                </div><!--  End About Tabs -->
            </div>
        </div>
    </div><!-- End Row -->
</div><!-- End Container -->
