<script src="~/Scripts/LandingPage/BlogsLanding.js"></script>
<div class="container">

    <div class="section-title">
        <h2>My Blogs Rifat</h2>
        <img src="~/LandingTheme/img/title-splash.png" alt="title-splash">
    </div>

    <div class="row" id="divBlogs">

        @*<div class="col-xs-12 col-md-4 animate-on-scroll" data-animation="slide-up" data-delay="0.4">
            <div class="single-blog mb-30">
                <div class="blog-thumbnail">
                    <img src="http://placehold.it/770x600" alt="blog-3">
                    <div class="b-thumbnail-overlay text-center effect">
                        <a href="single-post.html" class="main-color-bg center"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="blog-details">
                    <h3 class="blog-title main-color">
                        <a href="single-post.html" class="effect">Creative And Innovative Navigation Designs</a>
                    </h3>
                    <p class="blog-meta">By Admin / In Design</p>
                    <p class="blog-text">Lorem ipsum dolor sit tempo amet eiusmod, do tempo cbibendumr sommodo incid idunt ut labore when an unknown ... </p>

                    <a href="single-post.html" class="sb-link">
                        <span class="main-color"> Read More <i class="fa fa-long-arrow-right effect"></i></span>
                    </a>
                </div>
                <div class="border-animation main-color-bg">
                    <div class="blog-line effect"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 animate-on-scroll" data-animation="slide-up" data-delay="0.6">
            <div class="single-blog mb-30">
                <div class="blog-thumbnail">
                    <img src="http://placehold.it/770x600" alt="blog-2">
                    <div class="b-thumbnail-overlay text-center effect">
                        <a href="single-post.html" class="main-color-bg center"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="blog-details">
                    <h3 class="blog-title main-color">
                        <a href="single-post.html" class="effect">Don't Just Be A Designer, Be A Good One</a>
                    </h3>
                    <p class="blog-meta">By Admin / In Tech</p>
                    <p class="blog-text">Lorem ipsum dolor sit tempo amet eiusmod, do tempo cbibendumr sommodo incid idunt ut labore when an unknown ... </p>

                    <a href="single-post.html" class="sb-link">
                        <span class="main-color"> Read More <i class="fa fa-long-arrow-right effect"></i></span>
                    </a>
                </div>
                <div class="border-animation main-color-bg">
                    <div class="blog-line effect"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 animate-on-scroll" data-animation="slide-up" data-delay="0.8">
            <div class="single-blog mb-30">
                <div class="blog-thumbnail">
                    <img src="http://placehold.it/770x600" alt="blog-1">
                    <div class="b-thumbnail-overlay text-center effect">
                        <a href="single-post.html" class="main-color-bg center"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="blog-details">
                    <h3 class="blog-title main-color">
                        <a href="single-post.html" class="effect">Designed for Everyone, Everywhere</a>
                    </h3>
                    <p class="blog-meta">By Admin / In Travel</p>
                    <p class="blog-text">Lorem ipsum dolor sit tempo amet eiusmod, do tempo cbibendumr sommodo incid idunt ut labore when an unknown ... </p>

                    <a href="single-post.html" class="sb-link">
                        <span class="main-color"> Read More <i class="fa fa-long-arrow-right effect"></i></span>
                    </a>
                </div>
                <div class="border-animation main-color-bg">
                    <div class="blog-line effect"></div>
                </div>
            </div>
        </div>*@

    </div><!-- end row -->
</div> <!-- End Container -->