<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="owl-carousel testimonials-carousel">

                <div class="one-testimonial text-center">
                    <p class="tsm-name">Graduate Teaching Assistant</p>
                    <p>North Dakota State University Computer Science Department.</p>

                    <figure class="tsm-avatar main-color">
                        <img src="~/Upload/ndsu.png" alt="testimonial-img-1">
                    </figure>

                    <p class="tsm-text">Started on August 2018 to present. Help the faculty with the course. Making the class lecture, evaluating student's work, check the exam, assignments the grading their work. </p>
                </div>

                <div class="one-testimonial text-center">
                    <p class="tsm-name">ITAssistant</p>
                    <p>North Dakota State University Dining IT Departmen.</p>

                    <figure class="tsm-avatar main-color">
                        <img src="~/Upload/ndsu.png" alt="testimonial-img-2">
                    </figure>

                    <p class="tsm-text">Application development for Collecting real  time  data  from differentNDSU dining  legacy  systems automatically, analysis, modify and push into CSV and warehousing database</p>
                </div>

                <div class="one-testimonial text-center">
                    <p class="tsm-name">Web aplication developer and Software Engineer</p>
                    <p>3.5 Years back in Bagladesh.</p>

                    <figure class="tsm-avatar main-color">
                        <img src="~/Upload/ndsu.png" alt="testimonial-img-3">
                    </figure>

                    <p class="tsm-text"> Full Stack developer. Hands on experience of Desktop application, web application using C#, ASP.NET, MVC,Kendo UI, OOP, windows service, jQuery, Web API and SQL</p>
                </div>

            </div>
        </div>
    </div><!-- end row -->
</div> <!-- End Container -->
