<script src="~/Scripts/LandingPage/Hobbies.js"></script>
<div class="container-fluid">
@*<div class="">*@

    <div id="divHobbies" class="row">

    </div>
    </div>
        <!-- HOBBIES & INTERESTS -->
            @*<div class="container-fluid">
                <div class="row">

                    <div class="no-padd col-md-2 col-sm-4 col-xs-6">
                        <div class="main-color-bg single-hobbie-con">
                            <div class="single-hobbie effect text-center">
                                <div class="hobbie-icon effect"><i class="icon-book-open"></i></div>
                                <div class="hobbie-content effect">
                                    <h3 class="hobbie-title effect">READING</h3>
                                    <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="no-padd col-md-2 col-sm-4 col-xs-6">
                        <div class="main-color-bg single-hobbie-con">
                            <div class="single-hobbie effect text-center">
                                <div class="hobbie-icon effect"><i class="icon-target"></i></div>
                                <div class="hobbie-content effect">
                                    <h3 class="hobbie-title effect">Games</h3>
                                    <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="no-padd col-md-2 col-sm-4 col-xs-6">
                        <div class="main-color-bg single-hobbie-con">
                            <div class="single-hobbie effect text-center">
                                <div class="hobbie-icon effect"><i class="icon-camera"></i></div>
                                <div class="hobbie-content effect">
                                    <h3 class="hobbie-title effect">photography</h3>
                                    <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="no-padd col-md-2 col-sm-4 col-xs-6">
                        <div class="main-color-bg single-hobbie-con">
                            <div class="single-hobbie effect text-center">
                                <div class="hobbie-icon effect"><i class="icon-tools"></i></div>
                                <div class="hobbie-content effect">
                                    <h3 class="hobbie-title effect">DRAWING</h3>
                                    <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="no-padd col-md-2 col-sm-4 col-xs-6">
                        <div class="main-color-bg single-hobbie-con">
                            <div class="single-hobbie effect text-center">
                                <div class="hobbie-icon effect"><i class="icon-hotairballoon"></i></div>
                                <div class="hobbie-content effect">
                                    <h3 class="hobbie-title effect">travel</h3>
                                    <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="no-padd col-md-2 col-sm-4 col-xs-6">
                        <div class="main-color-bg single-hobbie-con">
                            <div class="single-hobbie effect text-center">
                                <div class="hobbie-icon effect"><i class="icon-video"></i></div>
                                <div class="hobbie-content effect">
                                    <h3 class="hobbie-title effect">movies</h3>
                                    <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- End Row -->
            </div><!-- End Container -->
        </div>*@
        <!-- END HOBBIES & INTERESTS -->


        @*<div class="no-padd col-md-2 col-sm-4 col-xs-6">
        <div class="main-color-bg single-hobbie-con">
            <div class="single-hobbie effect text-center">
                <div class="hobbie-icon effect"><i class="icon-book-open"></i></div>
                <div class="hobbie-content effect">
                    <h3 class="hobbie-title effect">READING</h3>
                    <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="no-padd col-md-2 col-sm-4 col-xs-6">
            <div class="main-color-bg single-hobbie-con">
                <div class="single-hobbie effect text-center">
                    <div class="hobbie-icon effect"><i class="icon-target"></i></div>
                    <div class="hobbie-content effect">
                        <h3 class="hobbie-title effect">Games</h3>
                        <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="no-padd col-md-2 col-sm-4 col-xs-6">
            <div class="main-color-bg single-hobbie-con">
                <div class="single-hobbie effect text-center">
                    <div class="hobbie-icon effect"><i class="icon-camera"></i></div>
                    <div class="hobbie-content effect">
                        <h3 class="hobbie-title effect">photography</h3>
                        <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="no-padd col-md-2 col-sm-4 col-xs-6">
            <div class="main-color-bg single-hobbie-con">
                <div class="single-hobbie effect text-center">
                    <div class="hobbie-icon effect"><i class="icon-tools"></i></div>
                    <div class="hobbie-content effect">
                        <h3 class="hobbie-title effect">DRAWING</h3>
                        <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="no-padd col-md-2 col-sm-4 col-xs-6">
            <div class="main-color-bg single-hobbie-con">
                <div class="single-hobbie effect text-center">
                    <div class="hobbie-icon effect"><i class="icon-hotairballoon"></i></div>
                    <div class="hobbie-content effect">
                        <h3 class="hobbie-title effect">travel</h3>
                        <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="no-padd col-md-2 col-sm-4 col-xs-6">
            <div class="main-color-bg single-hobbie-con">
                <div class="single-hobbie effect text-center">
                    <div class="hobbie-icon effect"><i class="icon-video"></i></div>
                    <div class="hobbie-content effect">
                        <h3 class="hobbie-title effect">movies</h3>
                        <p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@<!-- End Row -->