
<script src="~/Scripts/LandingPage/HomeSocial.js"></script>
<div class="page-table">
    <div class="table-cell text-center">
        <h2 id="txtTitle1"></h2>
        <h1 class="typer-title" id="txtSubTitle"></h1>
        <div class="home-social" id="divSocial">
        </div>
    </div>
</div>
<div id="particles-js"></div>