
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">RCMS</h4>
            </div>
            <div id="modal-body">
                <h2 id="rif" style="font-weight: bold; padding-left: 20px; "></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="container">

    <div class="section-title">
        <h2>My services</h2>
        <img src="~/LandingTheme/img/title-splash.png" alt="title-splash">
    </div>
    <div class="row">

        <div class="col-md-4 col-sm-6">
            <div class="single-service mb-30">
                <div class="front-service-box text-center">
                    <div class="service-icon main-color">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <h3 class="main-color">WEB Application Development</h3>
                </div>
                <div class="back-service-box text-center">
                    <div class="light-icon main-color">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <h4 class="main-color">WEB Application Development</h4>
                    <p>Having more than 3.5 years of hands on experience of web application using C#, ASP.NET, MVC, Kendo UI, OOP, jQuery, Web API and SQL</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="single-service mb-30">
                <div class="front-service-box text-center">
                    <div class="service-icon main-color">
                        <i class="fa fa-css3"></i>
                    </div>
                    <h3 class="main-color"> Desktop Application</h3>
                </div>

                <div class="back-service-box text-center">
                    <div class="light-icon main-color">
                        <i class="fa fa-css3"></i>
                    </div>
                    <h4 class="main-color"> Desktop Application</h4>
                    <p>Experience of desktop application, widows service using C#, OOP, windows services and SQL. Know basics of JAVA, Android.</p>
                </div>
            </div>
        </div>

        @*<div class="col-md-4 col-sm-6">
            <div class="single-service mb-30">
                <div class="front-service-box text-center">
                    <div class="service-icon main-color">
                        <i class="fa fa-picture-o"></i>
                    </div>
                    <h3 class="main-color">GALLERY CREATION</h3>
                </div>

                <div class="back-service-box text-center">
                    <div class="light-icon main-color">
                        <i class="fa fa-picture-o"></i>
                    </div>
                    <h4 class="main-color">GALLERY CREATION</h4>
                    <p>A elementum ligula ultrices praesent scelerisque suspendisse scelerisque a aenean hac montes voluptate velit esse cillum dolore eu.</p>
                </div>
            </div>
        </div>*@

        <div class="col-md-4 col-sm-6">
            <div class="single-service mb-30">
                <div class="front-service-box text-center">
                    <div class="service-icon main-color">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <h3 class="main-color"> Research Assistantship</h3>
                </div>

                <div class="back-service-box text-center">
                    <div class="light-icon main-color">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <h4 class="main-color"> Research Assistantship</h4>
                    <p>Looking forward to the opportunity to work as a research assistant in computer science or software engineering within some supervision. Have strong analytic abilities, statistical and graphical analysis of data, some experience with Python and graphical representation.</p>
                </div>
            </div>
        </div>

        @*<div class="col-md-4 col-sm-6">
            <div class="single-service mb-30">
                <div class="front-service-box text-center">
                    <div class="service-icon main-color">
                        <i class="fa fa-anchor"></i>
                    </div>
                    <h3 class="main-color">FEATURED SERVICES</h3>
                </div>

                <div class="back-service-box text-center">
                    <div class="light-icon main-color">
                        <i class="fa fa-anchor"></i>
                    </div>
                    <h4 class="main-color">FEATURED SERVICES</h4>
                    <p>A elementum ligula ultrices praesent scelerisque suspendisse scelerisque a aenean hac montes voluptate velit esse cillum dolore eu.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="single-service mb-30">
                <div class="front-service-box text-center">
                    <div class="service-icon main-color">
                        <i class="fa fa-life-ring"></i>
                    </div>
                    <h3 class="main-color">ONLINE SUPPORT</h3>
                </div>

                <div class="back-service-box text-center">
                    <div class="light-icon main-color">
                        <i class="fa fa-life-ring"></i>
                    </div>
                    <h4 class="main-color">ONLINE SUPPORT</h4>
                    <p>A elementum ligula ultrices praesent scelerisque suspendisse scelerisque a aenean hac montes voluptate velit esse cillum dolore eu.</p>
                </div>
            </div>
        </div>*@

    </div><!-- End Row -->
</div><!-- End Container -->
