<script src="~/Scripts/LandingPage/Portfolio.js"></script>

<div class="container">

    @*<div class="section-title">
        <h2>My Portfolio</h2>
        <img src="img/title-splash.png" alt="title-splash">
    </div>*@

    @*<div class="row">
            <div class="col-xs-12">
                <ul id="work-list" class="text-center">
                    <li class="main-color-bg effect">
                        <a href="#" class="filter main-color filter-active fl-btn effect" data-filter="all">all1</a>
                    </li>
                    <li class="main-color-bg effect">
                        <a href="#" class="filter main-color fl-btn effect" data-filter="web">web</a>
                    </li>
                    <li class="main-color-bg effect">
                        <a href="#" class="filter main-color fl-btn effect" data-filter="design">design</a>
                    </li>
                    <li class="main-color-bg effect">
                        <a href="#" class="filter main-color fl-btn effect" data-filter="photography">photography</a>
                    </li>
                    <li class="main-color-bg effect">
                        <a href="#" class="filter main-color fl-btn effect" data-filter="Music">Music</a>
                    </li>
                </ul>
            </div>
        </div>*@
    <!-- End Row -->
    @*<div class="row" id="aa">
        </div>*@
    <div id="aa" class="row">

    </div>
    <div class="row" id="divWorks">

        @*<div class="col-xs-12 col-sm-6 col-md-4 work-item web effect filterDiv cars">
            <div class="single-work mb-30">
                <img class="effect" src="http://placehold.it/770x700" alt="work-1">
                <div class="text-center work-overlay effect">
                    <div class="work-links">
                        <a href="single-portfolio.html" class="pf-link ver-center effect"><i class="fa fa-link"></i></a>
                        <a href="http://placehold.it/770x700" class="popup-link ver-center effect"><i class="fa fa-search"></i></a>
                    </div>
                    <h3 class="hor-center">Project Title</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 work-item design effect">
            <div class="single-work mb-30">
                <img class="effect" src="http://placehold.it/770x700" alt="work-2">
                <div class="text-center work-overlay effect">
                    <div class="work-links">
                        <a href="single-portfolio.html" class="pf-link ver-center effect"><i class="fa fa-link"></i></a>
                        <a href="http://placehold.it/770x700" class="popup-link ver-center effect"><i class="fa fa-search"></i></a>
                    </div>
                    <h3 class="hor-center">Project Title</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 work-item photography effect">
            <div class="single-work mb-30">
                <img class="effect" src="http://placehold.it/770x700" alt="work-3">
                <div class="text-center work-overlay effect">
                    <div class="work-links">
                        <a href="single-portfolio.html" class="pf-link ver-center effect"><i class="fa fa-link"></i></a>
                        <a href="http://placehold.it/770x700" class="popup-link ver-center effect"><i class="fa fa-search"></i></a>
                    </div>
                    <h3 class="hor-center">Project Title</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 work-item design effect">
            <div class="single-work mb-30">
                <img class="effect" src="http://placehold.it/770x700" alt="work-4">
                <div class="text-center work-overlay effect">
                    <div class="work-links">
                        <a href="single-portfolio.html" class="pf-link ver-center effect"><i class="fa fa-link"></i></a>
                        <a href="http://placehold.it/770x700" class="popup-link ver-center effect"><i class="fa fa-search"></i></a>
                    </div>
                    <h3 class="hor-center">Project Title</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 work-item Music effect">
            <div class="single-work mb-30">
                <img class="effect" src="http://placehold.it/770x700" alt="work-5">
                <div class="text-center work-overlay effect">
                    <div class="work-links">
                        <a href="single-portfolio.html" class="pf-link ver-center effect"><i class="fa fa-link"></i></a>
                        <a href="http://placehold.it/770x700" class="popup-link ver-center effect"><i class="fa fa-search"></i></a>
                    </div>
                    <h3 class="hor-center">Project Title</h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 work-item web effect">
            <div class="single-work mb-30">
                <img class="effect" src="http://placehold.it/770x700" alt="work-6">
                <div class="text-center work-overlay effect">
                    <div class="work-links">
                        <a href="single-portfolio.html" class="pf-link ver-center effect"><i class="fa fa-link"></i></a>
                        <a href="http://placehold.it/770x700" class="popup-link ver-center effect"><i class="fa fa-search"></i></a>
                    </div>
                    <h3 class="hor-center">Project Title</h3>
                </div>
            </div>
        </div>*@
   
    </div> <!-- End Row -->
</div> <!-- End Container -->


