<script src="~/Scripts/Dashboard/VisitorCount.js"></script>
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>

<script src="~/Scripts/ChartsRif/amcharts.js"></script>
<script src="~/Scripts/ChartsRif/serial.js"></script>
<script src="~/Scripts/ChartsRif/export.min.js"></script>
<link rel="stylesheet" href="~/Scripts/ChartsRif/export.css" type="text/css" media="all" />
<script src="~/Scripts/ChartsRif/light.js"></script>





<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

    <!-- new widget -->
    <div class="jarviswidget jarviswidget-sortable" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->

        <header role="heading">
            <div class="jarviswidget-ctrls" role="menu">   <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a> <a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> <a href="javascript:void(0);" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a></div>
            <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
            <h2>Visitor Count</h2>
            <div class="widget-toolbar hidden-mobile" role="menu">
                <span class="onoffswitch-title"><i class="fa fa-location-arrow"></i> Realtime</span>
                <span class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" checked="checked" id="myonoffswitch">
                    <label class="onoffswitch-label" for="myonoffswitch"> <span class="onoffswitch-inner" id="isRealTime" data-swchon-text="YES" data-swchoff-text="NO"></span> <span class="onoffswitch-switch"></span> </label>
                </span>
            </div>
            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>

        <!-- widget div-->
        

        <div id="chartdiv"> </div>
           
        <!-- end widget div -->
    </div>
    <!-- end widget -->

</article>